.slider-container {
    position: relative;
    width: 800px;
    height: 300px;
    perspective: 1000px;
    animation: entrada 1.5s ease-out;
}

@keyframes entrada {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 40s infinite linear;
    opacity: 1;
}

@keyframes rotate {
    0% {transform: rotateY(0deg);}
    25% {transform: rotateY(90deg);}
    50% {transform: rotateY(180deg);}
    75% {transform: rotateY(270deg);}
    100% {transform: rotateY(360deg);}
}

.tarjetas {
    position: absolute;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 12px 25px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.tarjetas:nth-child(1){transform: rotateY(0deg) translateZ(400px);}
.tarjetas:nth-child(2){transform: rotateY(90deg) translateZ(400px);}
.tarjetas:nth-child(3){transform: rotateY(180deg) translateZ(400px);}
.tarjetas:nth-child(4){transform: rotateY(270deg) translateZ(400px);}


.tarjetas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.95) contrast(1.1) saturate(1.2);
    display: block;
    transition: all 0.3 ease-in-out;
}

.tarjetas:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.slider-container:hover .slider {
    animation-play-state: paused;
}

.bienvenida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffd700;
    z-index: 10;
    padding: 20px 30px;
    background-color: rgba(15, 26, 60, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
    backdrop-filter: blur(6px);
}

.bienvenida h1 {
    font-size: 2em;
    margin: 0 0 10px;
}

.bienvenida p {
    font-size: 1em;
    margin: 0;
    color: #fff;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}